trunk/webx/springext/configuration-points.echo/src/main/resources/META-INF/services/echo-service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:springext="http://www.alibaba.com/schema/springext/base"
	elementFormDefault="qualified">

	<xsd:import
		namespace="http://www.springframework.org/schema/beans"
		schemaLocation="http://localhost:8080/schema/www.springframework.org/schema/beans/spring-beans.xsd" />

	<xsd:import
		namespace="http://www.alibaba.com/schema/springext/base"
		schemaLocation="http://localhost:8080/schema/www.alibaba.com/schema/springext/springext-base.xsd" />

	<xsd:element
		name="echo-service"
		type="EchoServiceType" />

	<xsd:complexType name="EchoServiceType">
		<xsd:sequence>
			<xsd:element
				name="title"
				type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:any
				namespace="http://www.alibaba.com/schema/services/echo-service/decorators"
				minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute
			name="preTitle"
			default="["
			type="xsd:string" />
		<xsd:attribute
			name="postTitle"
			default="]"
			type="xsd:string" />
		<xsd:attribute
			name="separator"
			default=":"
			type="xsd:string" />
	</xsd:complexType>

</xsd:schema>
